{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" id="stock" name="symbol" required>
                <option disabled selected value>Symbol</option>
            {% for key, value in stocks.items() %}
                <option value={{ key }}> {{ key }} </option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input min="1" autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button id="submit" class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}